@keyframes marquee-slow {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}
@keyframes marquee-slow-reverse {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0%); }
}

.animate-marquee-slow {
  animation: marquee-slow 50s linear infinite;
}
.animate-marquee-slow-reverse {
  animation: marquee-slow-reverse 50s linear infinite;
}
